@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Twemoji Mozilla",
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji",
    "EmojiOne Color",
    "Android Emoji",
    "Google Emoji";
}

@layer base {

  :root {
    --box-border--border: linear-gradient(105deg, rgb(255 46 144) 0%, rgb(61 35 185) 100%);
    --primary-color: hsl(196, 78%, 61%);
    --info-color-transparent: rgba(61, 134, 190, 0.0);
    --background: rgba(205, 220, 224, 0.8);
    --foreground: 20 14.3% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 211.8 68.3% 15.1%;
    --primary-foreground: 0 0% 100%;
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 20 14.3% 4.1%;
    --radius: 0.5rem;
    --background-image: url('/images/bg.jpg');
    --message-detail-color: rgb(70, 73, 78);
  }

  .dark {
    --box-border--border: linear-gradient(105deg, rgb(255 46 144) 0%, rgb(61 35 185) 100%);
    --primary-color: hsl(196, 78%, 61%);
    --info-color-transparent: rgba(61, 134, 190, 0.1);
    --background: rgba(34, 33, 33, 0.8);
    --foreground: 60 9.1% 97.8%;
    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 195.5 84.7% 62.7%;
    --primary-foreground: 26 83.3% 14.1%;
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 35.5 91.7% 32.9%;
    --background-image: url('/images/bg.jpg');
    --message-detail-color: rgb(156, 163, 175);
  }
}

.bg-blur {
  background-image: var(--background-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.glass {
  background: var(--background);
  width: 100%;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.6px);
  -webkit-backdrop-filter: blur(5.5px);
  border: 1px solid rgba(120, 116, 116, 0.26);
}

.word-spacing {
  word-spacing: 0.1em;
}

.hide-scrollbar {
  overflow-y: auto;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}


.hole {
  position: relative;
  width: 200%;
  height: 200%;
  mask:
    var(--box--border__top-left) 0 0 / .625rem .625rem,
    var(--box--border__top) .625rem 0 / calc(100% - 1.25rem) .625rem,
    var(--box--border__top-right) 100% 0 / .625rem .625rem,
    var(--box--border__left) 0 .625rem / .625rem calc(100% - 1.25rem),
    var(--box--border__right) 100% .625rem / .625rem calc(100% - 1.25rem),
    var(--box--border__bottom-left) 0 100% / .625rem .625rem,
    var(--box--border__bottom) .625rem 100% / calc(100% - 1.25rem) .625rem,
    var(--box--border__bottom-right) 100% 100% / .625rem .625rem;
  background-clip: padding-box;
  mask-repeat: no-repeat;

}

.darksoul-gradient-card3 {
  padding: 1.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(var(--gradient-angle), rgb(205, 3, 255), transparent, transparent);
  border-radius: 10px;
  animation: rotation 3s linear 0s infinite normal forwards;
  position: relative;
  background-clip: padding-box;
  overflow: hidden;


}

.pic {
  position: absolute;
  z-index: 100;
  grid-area: inner-div;
  left: 5px;
  top: 5.5px;
}


.conic {
  position: relative;
  z-index: -1;
  border-radius: 10px;
  overflow: hidden;
  padding: 0.1rem;
  display: grid;
  place-items: center;
  grid-template-areas:
    "inner-div";



  mask:
    linear-gradient(rgb(246, 245, 245) 0 0) content-box,
    linear-gradient(white 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;

  box-sizing: border-box;

  mask-border-mode: alpha;


  &::before {
    content: '';
    position: absolute;
    z-index: -2;
    left: -50%;
    top: -50%;
    width: 200%;
    height: 200%;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-image: conic-gradient(transparent, var(--gradient-color, rgba(168, 239, 255, 1)), transparent 50%);
    animation: rotate 3s linear infinite;
  }

  &::after {
    content: '';
    position: absolute;
    z-index: -1;
    left: 30px;
    top: 30px;
    width: calc(57% - 12px);
    height: calc(57% - 12px);
    background: transparent;
    border-radius: 10px;

    background-clip: padding-box;


    box-sizing: border-box;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}


@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}



@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply text-foreground bg-blur w-full h-full hide-scrollbar;
  }
}

.content {
  position: relative;
  z-index: 10;
}

.typing-dots {
  display: inline-flex;
  align-items: center;
}

.dots::after {
  content: '';
  display: inline-block;
  text-align: left;
  animation: dots 1.5s steps(4, end) infinite; 
}

@keyframes dots {
  0% {
    content: '';
  }
  25% {
    content: '.';
  }
  50% {
    content: '..';
  }
  75% {
    content: '...';
  }
  100% {
    content: '';
  }
}

